* {
    font-family: Verdana, Arial, sans-serif;
}
.final {
    color: black;
    padding-right: 3px;
}

.interim {
    color: gray;
}
.right {
    float: right;
}
.input {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 50px;
}
.results {
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 50px;
}

#start_button {
    border: 0;
    background-color: transparent;
    padding: 0;
}